language: java

addons:
  sonarcloud:
    organization: "pippopaperino"
    token:
      secure: "A9W3m0QV9+Mub6Vs3VpsAghBk7UuigCmv96WCqfnUKbxX5Gj5A6LOZ5HhvIITyD7zfEW996JSfFfT8IAzP4Cm7Z7+fiGvGHZQwN5wYgTtY9C0ltm4y3f5fYsc/BdRYr0xKdDyjBTIdlxWBetoXq16BZIefIoXc0jHZOaowu3ECvaLioTH1NiwmUOX6vlXUX5QIWXUOAaCM8WxOU6qJm2pOQNHiZN49Nurg+tue4jhZ2lP/GH6PsnCkJ5qPVMKM76plMmLrrVk5eNAYr5FMFm3n6LLO2riDUUOH5wdPrNvK48TfkBD3SQxQDQ6MvpR7dhWeP4Qpp0AMOka2U4fvKmwRlLxYhad+uBZpaqbK2qsGJ34iu9sIl3qPm5xEjkDfp0ATrz5tH6i3o1D9V6036sOEl9MAZNqLOu6I9ct4b4x0V+MKLWFlyPByXxrWT9OUAakptjaSq8636EhADVZK81a70ixXMS70Cwmyc7FQUBvjQ577W3vTAgREHbmPyY8RtGzxXxdfAHV5jUJ+EvrFSeF7vCG4YU7ST69hxpibWsHjc+GXRvqWzFo33EvuL53twHhF7Xs74/Uy1bCAbAVb5CZ/zX1l5EgXOAWkbmEGbgbmS3QtA1QjjRXq7HA5fMteduXjBJ8OfdhILys9blhrmmzE7rTENea2y9KxsjsdmQzro="
script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar